Django==1.11.13
argparse==1.2.1
colorama==0.2.5
django-cas-client==1.2.0
django-extensions==1.7.6
et-xmlfile==1.0.1
html5lib==0.999
openpyxl==2.3.0
psycopg2-binary
python-dateutil==2.4.2
requests==2.2.1
simplejson==3.6.5
six
ssh-import-id==3.21
urllib3==1.7.1
virtualenv==15.1.0
zope.interface==4.0.5
mozilla-django-oidc==1.2.2
django-environ
gunicorn