{% extends "base.html" %}

{% block title %}Redmine Time-tracking Home{% endblock %}

{% block css %}
    <link href='/static/css/home.css' rel="stylesheet" type="text/css" />
    <link rel='icon' type="image/ico" href="/static/img/report.ico" />
    <link rel="shortcut icon" href="/static/img/report.ico" />
    <link rel="stylesheet" href="/static/css/daterangepicker.css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="equal_height">
            <div class="col-md-5 col_equal_height">
                <div class="well" style="text-align: center;">
                    <table class="table summary">
                        <tbody>
                            <tr>
                                <td>Billable Hours</td><td><span id="billable_hours"></span></td>
                            </tr>
                            <tr>
                                <td>Non-billable Hours</td><td><span id="support_hours"></span></td>
                            </tr>
                            <tr>
                                <td>Total Hours</td><td><span id="total_hours"></span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="expected_chart" id="expected_chart"></div>
            </div>
            <div class="col-md-7 col_equal_height">
                <div class="chart" id="chart" style="height: 80%;"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3" style="text-align: center;">
            <input type="text" class="form-control" style="display: inline-block; width: 60%;" placeholder="Date Range" value="{{ start }} - {{ end }}" id="date_range" />
            {% if is_manager %}
                <br /><br />
            <input type="checkbox" id="include_manager_hours" checked style="padding-right: 20px;" />
                <label for="include_manager_hours">Include Manager's Hours</label>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js_body %}
    <script language="JavaScript" src="/static/js/moment.min.js"></script>
    <script language="javascript" src='/static/js/highcharts.js'></script>
    <script language="JavaScript" src="/static/js/exporting.js"></script>
	<script language="javascript" src='/static/js/home.js'></script>
    <script language="JavaScript" src="/static/js/randomColor.js"></script>
    <script language="JavaScript" src="/static/js/daterangepicker.js"></script>
	<script language="javascript">
        $(document).ready(function(){
            $('#include_manager_hours').on('change', function(){
                GetOverview();
               GetDistro();
            });
           $('#date_range').daterangepicker({
                   drops: 'up'
               }).on('apply.daterangepicker', function(ev, picker){
                   GetOverview();
                   GetDistro();
               });


        });
		// highlight the tab we're on
		$('#home_link').toggleClass('selected_nav');

        GetOverview();
        GetDistro();
	</script>
{% endblock %}